# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
web-ui/node_modules
web-api/node_modules
web-ui/package-lock.json
web-api/package-lock.json
web-ui/.pnp
web-ui/.pnp.*
web-ui/.yarn/*
web-ui/!.yarn/patches
web-ui/!.yarn/plugins
web-ui/!.yarn/releases
web-ui/!.yarn/versions

# testing
web-ui/coverage

# next.js
web-ui/.next/
web-ui/out/

# production
web-ui/build

# misc
web-ui/.DS_Store
web-ui/*.pem

# debug
web-ui/npm-debug.log*
web-ui/yarn-debug.log*
web-ui/yarn-error.log*
web-ui/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
web-ui/.env*

# vercel
web-ui/.vercel

# typescript
web-ui/*.tsbuildinfo
web-ui/next-env.d.ts
